{% extends "dashboard_layout.html" %}

{% block content %}
<div class="cmd-injection">
    <div class="text-center" style="margin-top: 5%; margin-bottom: 5%">
        <h1>Command Injection</h1>
    </div>
    <div class="mt-3 container text-center">
        <form method="post" action="/cmd-injection">
            <div style="margin-left: 35%">
                <div class="mb-3 row">
                    <label for="input" class="col-auto col-form-label">Enter IP</label>
                    <div class="col-auto">
                        <input type="text" class="form-control" id="input" name="input">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <h6 class="text-center text-muted mt-3">{{ msg | safe }}</h6>
    </div>
</div>

{% endblock %}