{% extends "dashboard_layout.html" %}
{% block content %}
<div class="insecure-file-up">
    <div class="text-center" style="margin-top: 5%; margin-bottom: 5%">
        <h1>File Upload</h1>
    </div>
    <div class="mt-3 container text-center">
        <form method="POST" action="/insecure-file-upload" enctype="multipart/form-data">
            <div style="margin-left: 5%">
                <div class="mb-3 row">
                    <p><input type="file" style="margin-left: 40%" name="file" id="file" accept=".img,.jpg,.jpeg,.png"></p>
                    <p><button type="submit" style="margin-left: -5%" class="btn btn-success">Submit</button></p>
                </div>
            </div>
        </form>
        <h6 class="text-center text-muted mt-3">{{ msg }}</h6>
    </div>
</div>
{% endblock %}