{% extends "dashboard_layout.html" %}
{% block content %}
<div class="">
    <div class="text-center" style="margin-top: 5%; margin-bottom: 5%">
        <h1>Sensitive Data Exposure</h1>
    <!-- 
    Sakshi: Hey!!! Simar nd Yash. I have updated Sensitive Data Exposure vulnerability.
    Simar: Great Sakshi!!! We will check it. 
    -->
    <!--
    Yash: Hello Sakshi. We have checked it. Please give me Username and password so that we can test it.
    Sakshi: Username is: adM1n1sTrat0R and password is 56fUi5MggETn9cuC1d.
    This is very confidential please keep it safe.
    Yash: Thank you :-)
    -->
    </div>
    <div class="mt-3 container text-center">
        <h6 class="text-center text-muted mt-3">{{ msg }}</h6>
        <form method="post" action="/sensitive-data-exposure">
            <div style="margin-left: 35%">
                <div class="mb-3 row">
                    <label for="username" class="col-auto col-form-label">Username</label>
                    <div class="col-auto">
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-auto col-form-label" style="margin-right: 5px">Password</label>
                    <div class="col-auto">
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
</div>















<!-- 
    Simar: Hey Sakshi!!! The password that you have shared with yash is not working.
    Sakshi: I have encrypted it. LOL ;-P Decrypt it and use.
-->


{% endblock %}

