{% extends "dashboard_layout.html" %}
{% block content %}
<div class="sql-injection">
    <div class="text-center" style="margin-top: 5%; margin-bottom: 5%">
        <h1>Server-Side-Request-Forgery</h1>
    </div>
    <div class="mt-3 container text-center">
        <form method="post" action="/ssrf">
            <div>
                <div class="mb-3">
                    <label for="product" class="col-auto col-form-label" style="margin-right: 5px">Check Stock</label>
                    <select id="product" name="product" class="btn btn-success" style="margin-right: 1%">
                        <option value="none">Select</option>
                        <option value="food">Food</option>
                        <option value="toys">Toys</option>
                        <option value="clothes">Clothes</option>
                    </select>
                    <input hidden id="source" name="source" value="external" />
                    <button type="submit" class="btn btn-success">Check Stock</button>
                </div>
            </div>
        </form>
    </div>
    <h6 class="text-center text-muted mt-3">Current Stock of {{ product or "X" }}: {{ stock or "X" }}</h6>
</div>
{% endblock %}