<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css">

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

    <!--JS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>TIWAP</title>
</head>
<body>
    <div class="text-center" style="background-color: darkslategrey; color: #fff; padding: 10px">
        <h1>TIWAP</h1>
        <h6 class="display-6" style="font-size: 32px">Totally Insecure Web Application Project</h6>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav navbar-nav mb-2" style="float: right; margin-left: auto">
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Signout</a>
            </li>
        </ul>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <footer class="text-center"
            style="background-color: darkslategrey; color: #fff; padding: 2px; position: fixed; width: 100%; bottom: 0">
        <p style="font-size: 16px">Made with <3</p>
    </footer>
</body>
</html>