<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0">

    <!--Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css">

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <title>TIWAP</title>
</head>
<body>
    <div class="text-center" style="background-color: darkslategrey; color: #fff; padding: 10px">
        <h1>TIWAP</h1>
        <h6 class="display-6" style="font-size: 32px">Totally Insecure Web Application Project</h6>
    </div>
    {% block content %}
    {% endblock %}
    <div class="text-center"
            style="background-color: darkslategrey; color: #fff; padding: 2px; position: fixed; width: 100%; bottom: 0">
        <p style="font-size: 16px">Made with &#9825;</p>
    </div>
</body>
</html>